.PaginationTabs1{
    border-radius:4px;
    font-size:14px;
}

.PaginationTabs1:hover{
    background-color:#e7e7e7;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.PaginationTabs1--small{
    border-radius:4px;
    font-size:12px;
}
.PaginationTabs1--small:hover{
    background-color:#e7e7e7;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.PaginationTabs1:disabled {
    opacity: 0,6;
    cursor: not-allowed;
}